<!DOCTYPE HTML>

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                谭 杨 Yang Tan
              </h1>
              <p>Welcome! I obtained my PhD degree at Tsinghua University (清华大学) in 2023, advised by <a href="http://yangli-feasibility.com/home/">Prof. Yang Li</a>. I also worked closely with <a href="https://sites.google.com/view/xiaopingzhang/">Prof. Xiao-Ping Zhang</a>, <a href="http://www.luvision.net/">Prof. Lu Fang</a>, and <a href="https://sites.google.com/view/slhuang/home">Prof. Shao-Lun Huang</a>. 
              </p>
              <p>
                Previously I obtained my Master degree at Sun Yat-sen University (中山大学) in 2019 and my Bachelor degree at Xidian University (西安电子科技大学) in 2017. 
              </p>
              
              <p>
                E-mail: tanyang1231@163.com
              </p>

              <p>
                
              </p>
              <p style="text-align:center">
                <a href="https://github.com/tanyang1231">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=qYp2EbkAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
              </p>
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/tanyang_circle_LR.jpg">
            </td>
          </tr>
        </table>



        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>NEWS</h2>
              <p>
                [2024-12-21] One paper about Transfer Risk Map is accepted by ICASSP'25.
              </p>
              <p>
                [2024-05-29] We are the <font color="red">Winner</font> of ICDAR'24 Visual Question Answer on Handwritten Documents Competition.
              </p>
              <p>
                [2024-04-07] We are the <font color="red">Winner</font> of ICDAR'24 Competition on Multi-Font Recognition and OCR "Data Alchemist" track.
              </p>
              <p>
                [2024-01-16] One paper is accepted by IEEE TNNLS (<font color="red">IF=14.225</font>, CAS SCI Q1).
              </p>
              <p>
               [2023-11-06] One paper is accepted by BIBM'23 Workshop on Deep Learning.
              </p>
              <p>
                [2023-06-22] One paper is accepted by ICIP'23.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Publications</h2>
              <p>
                My research interests include transfer learning, few-shot learning and computer vision. Please see my <a href="https://scholar.google.com/citations?user=qYp2EbkAAAAJ">Google Scholar</a> page for the full publication list.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} &nbsp {% if post.oral %} <font color="red"><strong>(Oral Presentation)</strong></font> {% endif %}
              <br>
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Competitions</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'competition' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} &nbsp {% if post.oral %} <font color="red"><strong>(Oral Presentation)</strong></font> {% endif %}
              <br>
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Technical Report</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'TechReport' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} &nbsp {% if post.oral %} <font color="red"><strong>(Oral Presentation)</strong></font> {% endif %}
              <br>
              {% if post.link %}
              <a href="{{post.link}}">link</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>



        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a> and also thanks the code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

